tr:nth-child(even){
    background-color:seashell;
}

.container{
    background-color: whitesmoke;
}

th button{
    background-color:sandybrown;
} 
th {
    background-color:sandybrown;
} 
th button {
    border:none;
}
.bord1{
    border:none;
}

